<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
  namespace="com.flab.livecommerce.infrastructure.order.persistence.mybatis.MyBatisOrderMapper">
  <insert id="save" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO orders (user_id, pay_method, receiver_name, receiver_phone_number, receiver_zipcode,
                        receiver_address, receiver_detail_address, receiver_message, ordered_at,
                        order_status)

    VALUES (#{userId}, #{payMethod}, #{receiverName}, #{receiverPhoneNumber}, #{receiverZipcode},
            #{receiverAddress}, #{receiverDetailAddress}, #{receiverMessage}, #{orderedAt},
            #{orderStatus})
  </insert>

  <select id="findById" resultMap="orderResultMap">
    select
        o.id                           AS o_id,
        o.user_id                      AS o_userId,
        o.pay_method                   AS o_payMethod,
        o.receiver_name                AS o_receiverName,
        o.receiver_phone_number        AS o_receiverPhoneNumber,
        o.receiver_zipcode             AS o_receiverZipcode,
        o.receiver_address             AS o_receiverAddress,
        o.receiver_detail_address      AS o_receiverDetailAddress,
        o.receiver_message             AS o_receiverMessage,
        o.order_status                 AS o_orderStatus,
        o.ordered_at                   AS o_orderedAt,
        oli.id                         AS oli_id,
        oli.order_id                   AS oli_orderId,
        oli.order_count                AS oli_orderCount,
        oli.shop_id                    AS oli_shopId,
        oli.item_id                    AS oli_itemId,
        oli.name                       AS oli_name,
        oli.price                      AS oli_price,
        oiog.id                        AS oiog_id,
        oiog.order_line_item_id        AS oiog_orderLineItemId,
        oiog.ordering                  AS oiog_ordering,
        oiog.name                      AS oiog_name,
        oio.id                         AS oio_id,
        oio.order_item_option_group_id AS oio_orderItemOptionGroupId,
        oio.ordering                   AS oio_ordering,
        oio.name                       AS oio_name,
        oio.price                      AS oio_price
    from orders o
           left join order_line_item oli on o.id = oli.order_id
           left join order_item_option_group oiog on oli.id = oiog.order_line_item_id
           left join order_item_option oio on oiog.id = oio.order_item_option_group_id
    where o.id = #{id};

  </select>

  <resultMap id="orderResultMap" type="Order">
    <id property="id" column="o_id"/>
    <result property="userId" column="o_userId"/>
    <result property="payMethod" column="o_payMethod"/>
    <result property="receiverName" column="o_receiverName"/>
    <result property="receiverPhoneNumber" column="o_receiverPhoneNumber"/>
    <result property="receiverZipcode" column="o_receiverZipcode"/>
    <result property="receiverAddress" column="o_receiverAddress"/>
    <result property="receiverDetailAddress" column="o_receiverDetailAddress"/>
    <result property="receiverMessage" column="o_receiverMessage"/>
    <result property="orderedAt" column="o_orderedAt"/>
    <result property="orderStatus" column="o_orderStatus"/>
    <collection property="orderLineItems" column="id" ofType="OrderLineItem">
      <id property="id" column="oli_id"/>
      <result property="orderId" column="oli_orderId"/>
      <result property="orderCount" column="oli_orderCount"/>
      <result property="shopId" column="oli_shopId"/>
      <result property="itemId" column="oli_itemId"/>
      <result property="name" column="oli_name"/>
      <result property="price" column="oli_price"/>
      <collection property="orderItemOptionGroups" column="id" ofType="OrderItemOptionGroup">
        <id property="id" column="oiog_id"/>
        <result property="orderLineItemId" column="oiog_orderLineItemId"/>
        <result property="ordering" column="oiog_ordering"/>
        <result property="name" column="oiog_name"/>
        <collection property="orderItemOptions" column="id" ofType="OrderItemOption">
          <id property="id" column="oio_id"/>
          <result property="orderItemOptionGroupId" column="oio_orderItemOptionGroupId"/>
          <result property="ordering" column="oio_ordering"/>
          <result property="name" column="oio_name"/>
          <result property="price" column="oio_price"/>
        </collection>
      </collection>
    </collection>
  </resultMap>
</mapper>