server:
  port: 8080
  servlet:
    session:
      timeout: 30m
      tracking-modes: cookie

spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:13306/livecommerce?characterEncoding=UTF-8
    username: test
    password: 12345678!
    driver-class-name: com.mysql.cj.jdbc.Driver

  flyway:
    user: test
    password: 12345678!
    url: jdbc:mysql://127.0.0.1:13306/livecommerce?characterEncoding=UTF-8

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 100MB
      file-size-threshold: 2MB
      location: C:\Temp\

  redis:
    session:
      host: localhost
      port: 16379

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        show_sql: true
        format_sql: true

  image:
    upload:
      localPath: C:\Temp\

#mybatis:
#  type-aliases-package: com.flab.*
#  configuration:
#    map-underscore-to-camel-case: true
#  mapper-locations: classpath:mybatis/mapper/**/*.xml

app.security.token:
  tokenExpirationSec: 1000
  sessionExpirationSec: 1000
logging:
  level:
    com.flab.order.infrastructure.feign: DEBUG
