version: '3.7'

services:
  db:
    container_name: livecommerce_database
    image: mysql:8.0.28
    restart: on-failure
    ports:
      - 13306:3306
    environment:
      MYSQL_DATABASE: "${MYSQL_DATABASE}"
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
      MYSQL_USER: "${MYSQL_USER}"
      MYSQL_PASSWORD: "${MYSQL_PASSWORD}"

  redis-user:
    container_name: livecommerce_user_redis
    image: redis:7.0.5
    ports:
      - 16379:6379

  redis-seller:
    container_name: livecommerce_seller_redis
    image: redis:7.0.5
    ports:
      - 16380:6380
